.GameElements{
    height: 100%;
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.Player {
    position: absolute;
    top: 40%;
    left: 19%;
    height: 150px;
    width: 150px;
    z-index: 1;
}

.Devil {
    position: absolute;
    top: 40%;
    left: 71%;
    height: 150px;
    width: 150px;
    z-index: 1;
}